.container {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.input {
  background-color: white;
  padding: 12px;
  font-size: 16px;
  color: black;
}

.buttonSubmit {
  background-color: #d28686;
  color: blue;
}
